{% import '_includes/forms.twig' as forms %}

<h1>Cookies</h1>

{{ forms.lightswitchField({
    first: true,
    label: 'Cookies Enabled',
    name: 'cookiesEnabled',
    on: settings.cookiesEnabled,
    instructions: 'Whether cookies functionality is enabled.',
    errors: settings.getErrors('cookiesEnabled'),
}) }}

{{ forms.lightswitchField({
    label: 'Log IP Address',
    name: 'logIpAddressForCookies',
    on: settings.logIpAddressForCookies,
    instructions: 'Whether user IP address should be logged to the database when preferences are saved.',
    errors: settings.getErrors('logIpAddressForCookies'),
}) }}

{{ forms.textField({
    label: 'Wrapper Template Path',
    name: 'cookiesWrapperTemplatePath',
    value: settings.cookiesWrapperTemplatePath,
    instructions: 'The path to the template that will be used to wrap the consent modal.',
    placeholder: 'mud/cookies/_wrapper',
    required: true,
    errors: settings.getErrors('cookiesWrapperTemplatePath')
}) }}

{{ forms.textField({
    label: 'Modal Template Path',
    name: 'cookiesModalTemplatePath',
    value: settings.cookiesModalTemplatePath,
    instructions: 'The path to the template that will be used to render the consent modal.',
    placeholder: 'mud/cookies/_consent',
    required: true,
    errors: settings.getErrors('cookiesModalTemplatePath')
}) }}

{{ forms.lightswitchField({
    label: 'Display in Blocking Mode',
    name: 'cookiesDisplayBlockingMode',
    on: settings.cookiesDisplayBlockingMode,
    instructions: 'Whether the cookie banner should block interaction until actioned.',
    errors: settings.getErrors('cookiesDisplayBlockingMode'),
}) }}

<hr>

<h1>Short URLs</h1>

<h2>Site, sections and entry types</h2>
<p>Which entry types should short URLs be generated for?</p>

{# must be included to enforce saving when no checkboxes selected #}
<input type="hidden" name="shortUrlSectionAndEntryTypes[]" value="">

{% for site in craft.app.sites.allSites %}
    
    <p><strong>{{ site.name }}</strong></p>
    
    <div class="field">
        <div class="input ltr">
            <table class="editable fullwidth">
                <thead>
                <tr>
                    <th scope="col" class="thin">Enabled</th>
                    <th scope="col">Section</th>
                    <th scope="col">Entry Type</th>
                </tr>
                </thead>
                <tbody>
                    {% for section in craft.app.entries.getAllSections %}
                        {% for sectionSiteSettings in section.siteSettings|filter(s => s.siteId == site.id and s.hasUrls) %}
                            
                            {% for entryType in section.getEntryTypes %}
                                
                                {% set value = sectionSiteSettings.site.id ~ ':' ~ section.id ~ ':' ~ entryType.id %}

                                <tr>
                                    <th scope="row" class=" heading-cell thin">
                                        <button type="button" class="lightswitch small {% if value in settings.shortUrlSectionAndEntryTypes %}on{% endif %}" onclick="if (this.classList.contains('on')) { this.querySelector('input').setAttribute('checked', 'checked');this.querySelector('input').value='{{ value }}'} else { this.querySelector('input').removeAttribute('checked');}">
                                            <!--suppress HtmlUnknownTag -->
                                            <div class="lightswitch-container">
                                                <div class="handle"></div>
                                            </div>
                                            <!--suppress HtmlFormInputWithoutLabel -->
                                            <input type="checkbox" name="shortUrlSectionAndEntryTypes[]" value="{{ value }}" {% if value in settings.shortUrlSectionAndEntryTypes %}checked{% endif %}>
                                        </button>
                                    </th>
                                    <td>{{ section.name }}</td>
                                    <td>{{ entryType.name }}</td>
                                </tr>
                                
                            {% endfor %}
        
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endfor %}

<hr>

<h1>Global settings</h1>

{{ forms.textField({
    label: 'Short URL Path',
    name: 'shortUrlPath',
    value: settings.shortUrlPath,
    instructions: 'Appended to the base URL to create the short URL. For example a value of "foo" would create a short URL of ' ~ siteUrl('/foo/{code}'),
    placeholder: 's',
    required: true,
    size: 15,
    errors: settings.getErrors('shortUrlPath')
}) }}

{{ forms.textField({
    label: 'Image Size (px) - 100px minimum',
    name: 'shortUrlQrCodeImageSize',
    value: settings.shortUrlQrCodeImageSize,
    instructions: 'The size of the QR code image.',
    placeholder: '200',
    required: true,
    size: 5,
    errors: settings.getErrors('shortUrlQrCodeImageSize')
}) }}

{{ forms.textField({
    label: 'Margin (px)',
    name: 'shortUrlQrCodeImageMargin',
    value: settings.shortUrlQrCodeImageMargin,
    instructions: 'The margin around the graphic within the QR code image.',
    placeholder: '10',
    required: true,
    size: 5,
    errors: settings.getErrors('shortUrlQrCodeImageMargin')
}) }}

{{ forms.colorField({
    label: 'Background Colour',
    name: 'shortUrlQrCodeBackgroundColour',
    value: settings.shortUrlQrCodeBackgroundColour,
    instructions: 'The background colour of the QR code image.',
    placeholder: '#FFFFFF',
    required: true,
    errors: settings.getErrors('shortUrlQrCodeBackgroundColour')
}) }}

{{ forms.colorField({
    label: 'Foreground Colour',
    name: 'shortUrlQrCodeForegroundColour',
    value: settings.shortUrlQrCodeForegroundColour,
    instructions: 'The colour of the graphic within the QR code image.',
    placeholder: '#000000',
    required: true,
    errors: settings.getErrors('shortUrlQrCodeForegroundColour')
}) }}

{{ forms.textField({
    label: 'Logo Path',
    name: 'shortUrlQrCodeLogoPath',
    value: settings.shortUrlQrCodeLogoPath,
    instructions: 'The path to the logo if one is to be included within the QR code image.',
    placeholder: '/path/to/logo.png',
    errors: settings.getErrors('shortUrlQrCodeLogoPath')
}) }}

{{ forms.textField({
    label: 'Logo Size (20px)',
    name: 'shortUrlQrCodeLogoSize',
    value: settings.shortUrlQrCodeLogoSize,
    instructions: 'The size of the logo.',
    placeholder: '10',
    errors: settings.getErrors('shortUrlQrCodeLogoSize')
}) }}

{{ forms.lightswitchField({
    label: 'Log Impressions',
    name: 'logShortUrlImpressions',
    on: settings.logShortUrlImpressions,
    instructions: 'Whether short url impressions should be logged to the database.',
    errors: settings.getErrors('logShortUrlImpressions')
}) }}

<hr>

<h1>Templates</h1>

{{ forms.textField({
    label: 'Template Blocks Path',
    name: 'templatesBlockPath',
    value: settings.templatesBlockPath,
    instructions: 'The directory where block templates should be loaded from (no trailing slash).',
    placeholder: '_entryTypes/blocks',
    errors: settings.getErrors('templatesBlockPath')
}) }}

{{ forms.textField({
    label: 'Server Templates Path',
    name: 'templatesServerIncludePath',
    value: settings.templatesServerIncludePath,
    instructions: 'The directory where SSI/ESI templates should be loaded from (no trailing slash).',
    placeholder: '_includes',
    errors: settings.getErrors('templatesServerIncludePath')
}) }}

{{ forms.textField({
    label: 'Dynamic Templates Path',
    name: 'templatesDynamicIncludePath',
    value: settings.templatesDynamicIncludePath,
    instructions: 'The directory where sprig templates should be loaded from (no trailing slash).',
    placeholder: '_sprig',
    errors: settings.getErrors('templatesDynamicIncludePath')
}) }}

{{ forms.lightswitchField({
    first: true,
    label: 'Cache Notice Enabled',
    name: 'cacheNoticeEnabled',
    on: settings.cacheNoticeEnabled,
    instructions: 'Whether the frontend cache notice is enabled for logged in user.',
    errors: settings.getErrors('cacheNoticeEnabled'),
}) }}

{{ forms.textField({
    label: 'Cache Notice Path',
    name: 'cacheNoticeTemplatePath',
    value: settings.cacheNoticeTemplatePath,
    instructions: 'The path to the template that will be used to display a cache status notice.',
    placeholder: 'mud/cache/_notice',
    errors: settings.getErrors('cacheNoticeTemplatePath')
}) }}

<hr>

<h1>Vimeo</h1>

{% set vimeoCanBeEnabled = craft.app.plugins.isPluginInstalled('embeddedassets') and craft.app.plugins.isPluginEnabled('embeddedassets') %}

{% if not vimeoCanBeEnabled %}
    <p class="error">The <a href="https://plugins.craftcms.com/embeddedassets" target="_blank">Embedded Assets</a> plugin must be installed and enabled.</p>
{% endif %}

{{ forms.lightswitchField({
    first: true,
    label: 'Enable Vimeo API',
    name: 'enableVimeoApi',
    on: vimeoCanBeEnabled and settings.enableVimeoApi,
    instructions: 'Whether the Vimeo integration API should be enabled for Embedded Assets integration.',
    errors: settings.getErrors('enableVimeoApi'),
    disabled: not vimeoCanBeEnabled
}) }}

<hr>

<h1>Blueprints</h1>

{% set allSections = craft.app.entries.getAllSections %}

{% for site in craft.app.sites.allSites %}
    
    {# TODO: support for multi-site so array config on each #}
    {# TODO: validation #}

    <h2><strong>{{ site.name }}</strong></h2>
    
    {% set options = [{
        label: 'Please select',
        value: ''
    }] %}
    
    {% set sectionOptions = {} %}
    
    {% for section in allSections %}
{#        {% for sectionSiteSettings in section.siteSettings|filter(s => s.siteId == site.id) %}#}
{#            {{ dump(sectionSiteSettings.section.name) }}#}
{#        {% endfor %}#}
        
        {% set sectionOptions = sectionOptions | merge(section.siteSettings|filter(s => s.siteId == site.id) | map(s => {
            label: s.section.name,
            value: s.section.id
        })) %}
        
{#        {{ dump(section.siteSettings|filter(s => s.siteId == site.id) | map(s => {#}
{#            label: s.section.name,#}
{#            value: s.section.id #}
{#        })) }}#}
        
    {% endfor %}
    
{#    {{ dump(sectionOptions) }}#}
    
{#    {% dd craft.app.entries.getAllSections|first %}#}
    
{#    {% if not settings.blueprintSectionIds[site.id] %}#}
{#        <a href="{{ actionUrl('mud-craft-core/blueprint/install', { siteId: site.id}) }}" class="btn submit">Install Blueprint setup</a>#}
{#        <p>Or configure manually below.</p>#}
{#    {% endif %}#}
    
    {{ forms.selectField({
        label: 'Blueprint Section',
        name: 'blueprintSectionIds[' ~ site.id ~ ']',
        value: settings.blueprintSectionIds[site.id] ?? '',
        options: {}|merge(options)|merge(sectionOptions),
        instructions: 'The section where blueprints are saved.',
        errors: settings.getErrors('blueprintSectionIds'),
    }) }}

    {{ forms.selectField({
        label: 'Selector Entry Type',
        name: 'blueprintEntryTypeIds[' ~ site.id ~ ']',
        value: settings.blueprintEntryTypeIds[site.id] ?? '',
        options: {}|merge(options)|merge(craft.app.entries.getAllEntryTypes|map(type => {
                label: type.name,
                value: type.id
        })),
        instructions: 'The entry type that displays the blueprint selector.',
        errors: settings.getErrors('blueprintEntryTypeIds'),
    }) }}
    
    {{ forms.selectField({
        label: 'Thumbnail Field',
        name: 'blueprintThumbnailFieldIds[' ~ site.id ~ ']',
        value: settings.blueprintThumbnailFieldIds[site.id] ?? '',
        options: {}|merge(options)|merge(craft.app.fields.allFields|map(field => {
            label: field.name,
            value: field.id
        })),
        instructions: 'The field containing the blueprint thumbnail.',
        errors: settings.getErrors('blueprintThumbnailFieldIds'),
    }) }}
    
{% endfor %}