{% set config = {
    borderColor: 'border-green',
    closeButtonBG: 'bg-pink hover:bg-[#FCD8BF] focus:bg-[#FCD8BF]',
    maxWidth: 'lg:max-w-2xl',
    outsideGutter: 'p-2.5 lg:p-[30px]',
    position: {
        bottomRight: 'right-0 bottom-0 ',
        bottomLeft: 'left-0 bottom-0',
        bottom: 'left-0 right-0 bottom-0 mx-auto'
    }
} %}

{% set layout = 'bottomRight' %}

<div class="fixed flex items-end {{
config.position[layout]
}} z-[200] w-full max-vh-screen group/cookie [&.is-expanded]:vh-screen noscroll {{
config.outsideGutter
}} {{ config.maxWidth }}">
    <div class="w-full relative bg-white border overflow-hidden group-[&.is-expanded]/cookie:h-full group-[&.is-expanded]/cookie:lg:max-h-[750px] {{
    config.borderColor
    }}">
        {# Header #}
        <header class="absolute top-0 left-0 w-full flex items-center justify-between px-5 lg:px-[30px] h-[68px] bg-white z-10">
            <h2 class="m-0 uppercase h5">
                We use cookies
            </h2>

            {# Close #}
            <button data-mud-craft-core-cookie-close
                    type="button"
                    class="flex items-center justify-center w-[38px] h-[38px] rounded-full cursor-pointer transition-colors duration-100 appearance-none {{
                    config.closeButtonBG
                    }}"
                    title="Close">
                <span class="sr-only">Close</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     xml:space="preserve"
                     style="enable-background:new 0 0 15.4 15.4"
                     viewBox="0 0 15.4 15.4"
                     class="flex-shrink-0 w-[14px] h-[14px] pointer-events-none">
					<path d="M15.4 1.4 14 0 7.7 6.3 1.4 0 0 1.4l6.3 6.3L0 14l1.4 1.4 6.3-6.3 6.3 6.3 1.4-1.4-6.3-6.3z"
                          style="fill:#272727" />
				</svg>
            </button>
        </header>

        <div class="relative w-full overflow-y-scroll pt-[68px] pb-[128px] max-h-full">
            {# Description #}
            <div class="text-sm o-wysiwyg pl-5 pr-24 lg:pr-40 lg:pl-[30px]">
                <p class="">
                    By using our website, you agree to the storing of cookies on your
                    device for essential site functionality. You can choose to opt into
                    other categories of cookies below.
                </p>
                <button data-mud-craft-core-cookie-toggle-detail
                        type="button"
                        class="flex items-center font-bold appearance-none cursor-pointer"
                        title="Show Details">
					<span data-mud-craft-core-cookie-button-text class="block">
						Show Details
					</span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="15"
                         height="9"
                         viewBox="0 0 15 9"
                         class="ml-2 pointer-events-none group-[&.is-expanded]/cookie:rotate-180">
                        <path d="M7.13523 8.23591L0.789347 1.46697C0.489973 1.14764 0.716396 0.625 1.15412 0.625H13.8459C14.2836 0.625 14.51 1.14764 14.2107 1.46697L7.86477 8.23591C7.66723 8.44662 7.33277 8.44662 7.13523 8.23591Z"
                              fill="#272727" />
                    </svg>
                </button>
            </div>

            {# Cookies #}
            {# _overflow-y-auto #}
            <div class="text-sm o-wysiwyg px-5 lg:pl-[30px] mb-0 lg:pr-24">
                <div data-mud-craft-core-cookie-detail-wrapper
                     class="hidden space-y-2.5">
                    {# min options required #}
                    {{
                    _self.cookieRow(
                        'functionality_storage',
                        'Functionality (required)',
                        'Enables storage that supports the functionality of the website or
						app such as language settings.',
                        true
                    )
                    }}

                    {{
                    _self.cookieRow(
                        'analytics_storage',
                        'Analytics storage',
                        'Enables storage, such as cookies, related to analytics (for example,
						visit duration).',
                        false
                    )
                    }}

                    {# additional options #}
                    {{
                    _self.cookieRow(
                        'ad_storage',
                        'Advertising storage',
                        'Enables storage, such as cookies, related to advertising.',
                        false
                    )
                    }}

                    {{
                    _self.cookieRow(
                        'ad_user_data',
                        'Advertising user data',
                        'Sets consent for sending user data to Google for online advertising
						purposes.',
                        false
                    )
                    }}

                    {{
                    _self.cookieRow(
                        'ad_personalization',
                        'Advertising personalisation',
                        'Sets consent for personalized advertising.',
                        false
                    )
                    }}

                    {{
                    _self.cookieRow(
                        'personalization_storage',
                        'Personalisation storage',
                        'Enables storage related to personalization such as video
						recommendations.',
                        false
                    )
                    }}

                    {{
                    _self.cookieRow(
                        'security_storage',
                        'Security storage',
                        'Enables storage related to security such as authentication
						functionality, fraud prevention, and other user protection.',
                        false
                    )
                    }}

                    <div class="pl-10">
                        <a href="{{ url('privacy-policy') }}"
                           data-mud-craft-core-cookie-privacy-policy-link
                           class="block"
                           title="View our privacy policy">
                            View our privacy policy
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# Control bar #}
        <footer class="absolute bottom-0 w-full left-0 px-5 lg:px-[30px] h-[100px] bg-white flex items-center flex-wrap z-10">
			<span class="block w-full h-[30px] pointer-events-none z-10 bg-gradient-to-b from-transparent to-white -translate-y-full absolute top-0 left-0">
				&nbsp;
			</span>
            {# Extra space / overflow gradient #}
            <ul class="flex items-center justify-end gap-x-2.5 w-full">
                <li class="hidden group-[&.is-expanded]/cookie:block">
                    <button data-mud-craft-core-cookie-save
                            type="button"
                            class="o-btn"
                            title="Save">
                        Save
                    </button>
                </li>
                <li>
                    <button data-mud-craft-core-cookie-accept-all
                            type="button"
                            class="o-btn"
                            title="Accept All">
                        Accept All
                    </button>
                </li>
                <li>
                    <button data-mud-craft-core-cookie-reject-all
                            type="button"
                            class="o-btn bg-pink"
                            title="Reject All non-essential">
                        Reject All
                    </button>
                </li>
            </ul>
        </footer>
    </div>
</div>

{% macro cookieRow(type, label, description, required) %}
    <div>
        <label for="{{ type|kebab }}"
               class="flex {{ required ? 'cursor-not-allowed' : 'cursor-pointer' }}">
			<span class="flex items-center justify-center flex-shrink-0 w-6 h-6 border border-black rounded-sm  {{
            required
            ? 'bg-green bg-opacity-40'
            }} ">
				<input type="checkbox"
                       id="{{ type|kebab }}"
                       class="sr-only form-checkbox peer/checkbox"
                       data-mud-craft-core-cookie-type="{{ type }}"
                       checked
					{{ required ? 'required' }} />

				<svg xmlns="http://www.w3.org/2000/svg"
                     width="13"
                     height="11"
                     viewBox="0 0 13 11"
                     fill="none"
                     class="opacity-0 pointer-events-none peer-checked/checkbox:opacity-100">
					<path d="M1.25 6.57812L5.25 9.57812L11.25 1.07812"
                          stroke="#009A76"
                          stroke-width="2"
                          stroke-linecap="round" />
				</svg>
			</span>

            <span class="block ml-4">
				<span class="block font-bold">{{ label }}</span>
				<span>{{ description }}</span>
			</span>
        </label>
    </div>
{% endmacro %}
