<div class="meta">
    <h2 class="heading" style="padding:1em 0;">Vimeo Files Data</h2>
    <div style="border-top:1px rgb(229, 231, 235) solid; padding: 24px 0;">
        
        {% if url %}
        
            <a href="{{ url }}" class="btn" style="margin-bottom: 1em;">Vimeo Link</a>

            {% if imageUrl %}
                <img src="{{ imageUrl }}" alt="Image" />
            {% endif %}

            <h2>Files</h2>
            
            {% if files.count %}

                <dl>
                    {% for file in files %}
                        <dt style="margin-top: 5px;"><a href="{{ file.link }}" target="_blank">{{ file.quality }} ({{ file.rendition }})</a></dt>
                        <dd>Type: {{ file.type }}</dd>
                        <dd>Width: {{ file.width }}</dd>
                        <dd>Height: {{ file.height }}</dd>
                    {% endfor %}
                </dl>

            {% else %}
            
                <p>No data available.</p>
                <p>This could indicate that this video is not accessible (i.e. not saved in the account that this site integrates with).</p>
                
            {% endif %}
            
            <p>Retrieved at {{ dateCreated | date('H:i:s d/m/Y') }}</p>

            <a href="{{ actionUrl('mud-craft-core/vimeo/remove-files', { assetId: asset.id })}}" class="btn delete icon" style="margin-top: 1em;">Remove Data</a>
            
        {% else %}
            
            <p>Save the asset to trigger a fetch of data.</p>
            
        {% endif %}
        
    </div>

</div>