.blueprint-heading {
    margin-bottom: 20px;
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

@media (min-width: 768px) {
    .blueprint-list {
        gap: 24px;
    }
}

.blueprint-entry {
    flex-grow: 1;
    background: #ededed;
    display: flex;
    gap: 8px;
    border-radius: var(--large-border-radius);
}

@media (min-width: 768px) {
    .blueprint-entry {
        gap: 24px;
    }
}

.blueprint-entry img {
    border-radius: var(--large-border-radius) 0 0 var(--large-border-radius);
}

.blueprint-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    gap: 8px;
}

.blueprint-entry--no-thumbnail .blueprint-details {
    padding-left: 8px;
}

@media (min-width: 768px) {
    
    .blueprint-entry {
        gap: 24px;
    }

    .blueprint-entry--no-thumbnail .blueprint-details {
        padding-left: 24px;
    }

    .blueprint-details {
        padding: 24px 24px 24px 0;
    }
}

.blueprint-details h3 {
    font-size: 1.2em;
}

.blueprint-details p {
    color: #666;
}

.blueprint-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.blueprint-btns .settings {
    width: 70px;
}

.blueprint-btns     .blueprint-btn {
    width: 120px;
}

.blueprint-btn::before {
    font-family: Craft;
    margin-block-start: -1px;
    content: 'layout';
    margin-right: 6px;
}