{% set config = craft.app.plugins.getPlugin('mud-craft-core').settings %}

{% set thumb = {
    mode: 'crop',
    width: 150,
    height: 180,
    quality: 95,
    position: 'top-center'
} %}

<div>
    {% set sectionId = config.blueprintSectionIds[element.site.id] ?? '' %}
    {% set entryTypeId = config.blueprintEntryTypeIds[element.site.id] ?? '' %}
    {% set thumbnailFieldId = config.blueprintThumbnailFieldIds[element.site.id] ?? '' %}
    
    {% if not sectionId or not entryTypeId or not thumbnailFieldId %}
        
        <h2>Blueprints are not configured for this site</h2>
        <p>Update the blueprint settings to enable this feature.</p>
        <a href="{{ cpUrl('settings/plugins/mud-craft-core') }}" class="btn icon settings">Settings</a>
                
    {% else %}
                
        {% set blueprintSection = craft.app.entries.getSectionById(sectionId) %}
        {% set allowedEntryTypes = collect(element.section.entryTypes | filter(type => type.id != entryTypeId)) %}
        {% set handles = allowedEntryTypes.pluck('handle') %}
        {% set blueprints = craft.entries.section(blueprintSection).type(handles).collect %}
        {% set error = element.errors and element.errors['type'] ? element.errors['type'] | first : null %}
        
        <h2 class="blueprint-heading">Choose a template to apply to get you started with this page</h2>

        {% if not blueprints.count %}

            <p class="error"><span class="visually-hidden">Error:</span>There are no valid blueprint entries created for this section.</p>
            <p>This section can use the following entry types:</p>
            <ul style="list-style:disc;padding-left: 2em;">
                {% for name in allowedEntryTypes.pluck('name') %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>

        {% else %}

            {% if error %}
                    <p class="error"><span class="visually-hidden">Error:</span> {{ error }}</p>
            {% endif %}

            <div class="blueprint-list">

                {% for blueprint in blueprints %}

                    {% set thumbnailField = blueprint.type.customFields | filter(field => field.id == thumbnailFieldId) | first %}
                    {% set thumbnail = thumbnailField and blueprint[thumbnailField.handle] ? blueprint[thumbnailField.handle].eagerly().one : null %}
                    
                    <div class="blueprint-entry {% if not thumbnail %}blueprint-entry--no-thumbnail{% endif %}">
                        
                        {% if thumbnail %}
                            <img class="blueprint-thumbnail" src="{{ thumbnail.getUrl(thumb) }}" width="{{ thumbnail.getWidth(thumb) }}" height="{{ thumbnail.getHeight(thumb) }}" alt="{{ blueprint.title }}">
                        {% endif %}
                        
                        <div class="blueprint-details">
                            <div>
                                <h3>{{ blueprint.title }}</h3>
                                <p>{{ blueprint.type.name }}</p>
                            </div>
                            <div class="blueprint-btns">
                                <a href="{{ actionUrl('mud-craft-core/blueprint/create-entry', { 'sourceId': blueprint.id, 'placeholderId': element.id }) }}" class="btn submit blueprint-btn">Choose this</a>
                                {% if currentUser.can('manageBlueprints') %}
                                    <a href="{{ blueprint.cpEditUrl }}" class="btn settings icon">Edit</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                        
                {% endfor %}
                
            </div>

        {% endif %}

    {% endif %}
        
</div>