<div class="heading h6" style="margin-bottom: 10px;">
    Blueprint usage
</div>
<div class="meta">
    <div style="border-top:1px rgb(229, 231, 235) solid; padding: 24px 0;">
        <p>{{ entries.count }} {{ entries.count == 1 ? 'entry has' : 'entries have' }} been created from this blueprint.</p>
    </div>

</div>