{# Wrapper extends server include specifically for fields that use relation entries rather than matrix entries #}

{% extends 'mud/includes/server' %}

{% set template = 'mud/includes/contentBlockServer' %}

{% block content %}
    {% set parent = craft.entries.id(entryId).status(null).one %}
    {% set entries = entryIds ? craft.entries.id(entryIds).collect : parent[field].eagerly().collect %}
    {% for entry in entries %}
        {% include directory ~ entry.type.handle with {
            parent,
            entry, 
            blockIndex: loop.index, 
            field
        } only %}
    {% endfor %}
{% endblock %}