{# Wrapper for dynamic includes #}

{% if devMode %}
    <!-- dynamic include template: `{{ template }}`. config: `{{ config|json_encode }}. `FORCE_SKELETON_UI` environment variable = `{{ getenv('FORCE_SKELETON_UI') }}`` -->
{% endif %}

{{ sprig(template, params, config) }}

{% if devMode %}
    <!-- end dynamic include -->
{% endif %}