{# Wrapper for server includes #}

{% if devMode %}
    <!-- server include template: `{{ template }}` -->
{% endif %}

{% block content %}
    {% include template with params only %}
{% endblock %}

{% if devMode %}
    <!-- end server include -->
{% endif %}

{% do sprig.registerScript %}