<div class="meta">
    <h2 class="heading" style="padding:1em 0;">Short URL</h2>
    <div style="border-top:1px rgb(229, 231, 235) solid; padding: 24px 0;">
        {% if shortUrl %}
            <div style="text-align: center">
                <img src="{{ shortUrl.dataUri }}" width="{{ shortUrl.size }}" height="{{ shortUrl.size }}" alt="{{ entry.title }}" style="margin-bottom:1em;display: inline-block;" /><br>
                <a href="{{ shortUrl.url }}" title="Open link in a new window" target="_blank" style="display:inline-block;max-width:80%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">{{ shortUrl.url }}</a>'
            </div>
        {% else %}
            <p>Save this entry to generate a QR Code and short URL.</p>
        {% endif %}
    </div>
</div>