<h2>Short URLs</h2>

{% if entriesWithoutShortUrls %}

    <p>There are {{ entriesWithoutShortUrls }} entries that do no have short Urls saved.</p>
    
    <form method="POST">
        {{ csrfInput() }}
        {{ actionInput('mud-craft-core/short-url/generate-all-entry-urls') }}
        <input type="submit" class="btn big submit" value="Generate All Entry URLs">
    </form>

{% else %}

    <p>All entries in enabled sections have short URLs saved.</p>

{% endif %}